{% load static%}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> {{title}} </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '../static/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '../static/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap" rel="stylesheet"> 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> 
 
  <!-- Vendor CSS Files -->
  <link href="{% static '../static/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">

  <link href="{% static '../static/assets/css/all.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/css/comment.css' %}" rel="stylesheet">
  <link href="{% static '../static/assets/date-time-phone/jquery-ui-timepicker-addon.css' %}" rel="stylesheet">
</head>

<style>

  body, html, h1, h2, h3, h4, h5, h6, p, div, span{
    font-family: 'Tajawal', sans-serif;
  }

  @media print {

  }

</style>
<body dir="rtl" id="container">


    {% include 'partials/header.html' %}

    {% block content %}
    
    {% endblock content %}



    {% comment %} {% include 'partials/footer.html' %} {% endcomment %}


 <!-- Vendor JS Files -->
 <script src="{% static '../static/assets/vendor/purecounter/purecounter.js' %}"></script>
 <script src="{% static '../static/assets/vendor/aos/aos.js' %}"></script>
 <script src="{% static '../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static '../static/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static '../static/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static '../static/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static '../static/assets/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static '../static/assets/js/main.js' %}"></script>
 <script src="{% static '../static/assets/js/all.js' %}"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

 <script type="text/javascript">
  $(function() {
      $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD'
      });
  });

  $(function() {
      $('#datetimepicker2').datetimepicker({
        format: 'HH:mm'
      });
  });

  $(function() {
      $('#datetimepicker3').datetimepicker({
        format: 'HH:mm'
      });
  });
</script>

<script>

  var copyBtns = [...document.getElementsByClassName('copy')]
  copyBtns.forEach(btn=> btn.addEventListener('click', ()=>{
    content = btn.getAttribute('data-content')
    navigator.clipboard.writeText(content)
    Swal.fire({
    title: 'تم النسخ إلى الحافظة',
    text: 'يمكنك الآن مشاركة هذا النص وإرساله',
    confirmButtonColor: " #2c3e50 ",
    confirmButtonText: "إغلاق"
    })
  }))
  

  var urlcopyBtns = [...document.getElementsByClassName('url-copy')]
  urlcopyBtns.forEach(btn=> btn.addEventListener('click', ()=>{
    content = btn.getAttribute('data-content')
    navigator.clipboard.writeText(content)
    Swal.fire({
    title: 'تم نسخ الرابط إلى الحافظة',
    text: 'يمكنك الآن مشاركة هذا الرابط وإرساله',
    confirmButtonColor: " #2c3e50 ",
    confirmButtonText: "إغلاق"
    })
  }))

  $('#edit').on('click', function(event){
    Swal.fire({
        title: 'تم تعديل التعليق بنجاح',
        text: 'يمكنك الآن الرجوع إلى الخلف',
        confirmButtonColor: " #2c3e50 ",
        confirmButtonText: "إغلاق"
        })
})



</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6728728320127200"
     crossorigin="anonymous"></script>

    <script>
    $('.fname').keydown(function(){
      var key = event.keyCode;
      return ((key >= 65 && key <= 90) || key == 8);
      if (event.keyCode == 9) {   //tab pressed
        return true;
    }
    })

    $('.lname').keydown(function(){
      var key = event.keyCode;
      return ((key >= 65 && key <= 90) || key == 8 key == 9);
    })
    </script>

</body>
</html>