<div class="modal fade" id="confirm-delete-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa-solid fa-triangle-exclamation mx-0"></i>
                <b>تحذير - انتبه</b>
            </div>
            <div class="modal-body">
                هل أنت متأكد من حذف الحساب؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلفاء</button>
                <a class="btn btn-danger btn-ok" href="{% url 'deleteAccount' request.user.id %}">حذف
            </a>
            </div>
        </div>
    </div>
</div>