<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa-solid fa-triangle-exclamation mx-0"></i>
                <b>تحذير - انتبه</b>
            </div>
            <div class="modal-body">
                هل فعلا تريد حذف بيانات فصيلة الدم الخاصة بك؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلفاء</button>
                <a class="btn btn-danger btn-ok" href="{% url 'delete' bloodbank.id %}">حذف
            </a>
            </div>
        </div>
    </div>
</div>