  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12"> 
          <i class="fa-solid fa-heart-pulse fa-10x"></i>

        </div>

      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 credits">
        <strong><span class="h6 text-info">جميع الحقوق محفوظة لـ  </span></strong>موقع الشفاء الطبي
<br>
        تم التطوير والمتابعة بواسطة فريق الشفاء {% now 'Y' %} <br> <br>
        <i class="fas fa-calendar-day mx-2"></i>
        <h4 class="d-inline">اليوم:  </h4>
        <h4 class="d-inline text-info">
        {% now 'l' as day %}
        {% if day == 'Friday' %} الجمعة {% endif %}
        {% if day == 'Saturday' %} السبت {% endif %}
        {% if day == 'Sunday' %} الأحد {% endif %}
        {% if day == 'Monday' %} الاثنين {% endif %}
        {% if day == 'Tuesday' %} الثلاثاء {% endif %}
        {% if day == 'Wednesday' %} الأربعاء {% endif %}
        {% if day == 'Thursday' %} الخميس {% endif %}
      </h4>
        <p class="h4">
          <i class="fa-solid fa-calendar-days mx-2"></i>
          تاريخ اليوم:  <b class="text-info h4"> {% now "j-n-Y" %} م</b> </p>
        {% load tz %} 
        
        {% timezone "Africa/Cairo" %}
        <p id="clock" class="h4">
          <i class="fas fa-clock mx-2"></i>
          الساعة الآن:  <b class="text-info h4"> {% now "h:i A" %}</b> </p>

        <p class="p-0 mt-0 alert alert-secondary p-1 w-lg-25 w-md-75 w-sm-100 w-xs-100 m-auto">
          <i class="fas fa-spa mt-1 mx-1"></i>
           إذا رأيت تأخيرًا في التوقيت، فقط اضغط على <a href="#clock" action="" onclick="window.location.reload();" class="text-danger h5">  Refresh
           <i class="fa-solid fa-arrows-rotate"></i> 
          </a> </p>
        
        {% endtimezone %}
      </div>
    </div>
  </div>
  </footer>
  <!-- End Footer -->