{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br> <br> <br> <br>
<div class="container mt-5">
    <div class="row">
        <p class="display-6 text-dark text-center">تسجيل الدخول</p>

        <div class="col-12">
            {% if messages %}
            <ul class="messages text-center">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{message.tags}} text-center p-1"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>

        <form class="form col-11 mx-auto" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="form-group">
            <input name="username" class="form-control mt-2 text-right" type="text" placeholder="اسم المستخدم" dir="ltr">
            <input name="password" class="form-control mt-2 text-right" id="id_password" type="password" placeholder="كلمة السر" dir="ltr">

            <input id="pass-check" class="mt-1" type="checkbox" onclick="reveal()"> 
            <label class="text-dark"> إظهار كلمة السر </label>


            <button type="submit" class="btn btn-primary form-control mt-2" name="login" {% if messages %}{% for message in messages %}{% if message.tags == 'success' %}disabled style="display:none;"{% endif %}{% endfor %}{% endif %}>تسجيل الدخول</button>

            {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <a class="btn btn-success form-control mt-2" href="{% url 'bloodbanks' %}">ذهاب للصفحة الرئيسية</a>
                {% endif %}
                {% endfor %}
                 </ul>
                {% endif %}
                

                <div class="text-center mt-3 mb-0">
                    <hr class="mb-2 p-0 text-dark">
                    <span class="text-dark mt-3">إذا كنت لا تملك حسابًا يمكنك </span>
                    <a href="{% url 'signup' %}" class="btn btn-primary">إنشاء حساب جديد</a>

                </div>


                


            </div>
        </form>
    </div>
</div>

<script>
    function reveal(){
        var passCheck = document.getElementById('pass-check');
        var passInput1 = document.getElementById('id_password');

        if (passCheck.checked){
            passInput1.type = 'text'

        } else{
            passInput1.type = 'password'
        }
    }
</script>
{% endblock content %}