{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% load mathfilters %}

{% block content %}
{% if not user.username in request.path %}
<br> <br> <br>
<section class="breadcrumbs mt-5" style="direction:rtl">

        <h4 class="alert alert-danger text-center">عذرًا، هذه الصفحة خاصة وليس لديك حق الوصول إليها  </h4>
</section>

{% else %}
<br> <br> <br>
<section class="breadcrumbs mt-5" style="direction:rtl">
    <ol>
        <li>
            <i class="fas fa-tint mx-2"></i>
            <a href="{% url 'bloodbanks' %}"> فصائل الدم </a></li>
        <li> الإعجابات </li>
        <li class="text-muted"> العضو: <b class="text-info">{{user.username}}</b> </li>
</section>

    <div class="container">
        <div class="row">
            <table class="table table-striped table-bordered table-hover table-active table-dark table-responsive{-sm|-md|-lg|-xl} ">

                <thead class="thead-light">
                  <tr>
                    <b class="alert alert-info p-2 mb-0 text-center"> عدد العناصر التي أعجبت بها: {{likes_bloodbank.count}} </b>

                    {% for like in likes_bloodbank %}
                    <th class="text-center" scope="col">
                        <a target="_blank" href="{% url 'profilebloodbank' like.id %}"><i class="fa-solid fa-id-card text-white mx-0"></i>
                        </a>
                    </th>

                    <th class="text-right" scope="col">
                        <a href="{% url 'profilebloodbank' like.id %}" class="text-light d-inline mx-1 h5">
                            <i class="fa-solid fa-droplet text-danger mx-2"></i>
                            {{like.bloodbank_name}} :||: {{like.type}}
                        </a> 
                    </th>
                    {% comment %} <!-- <th class="text-center"> 
                        <form method="GET" action="{% url 'bloodbank_likeourite_list' user.username user.id %}">
                            <button type="submit"> <a href="{% url 'delete-like' user.username like.id %}"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </button>
                        </form>
                    </th>  --> {% endcomment %}
                </tr>
                    {% empty%}
                        <p class="alert alert-danger"> ﻻ يوجد لديك عناصر في الإعجابات </p>
                    {% endfor %}       
                </thead>
                <tfoot>
                </table>

        </div>
    </div>

{% comment %}     
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="h6 alert alert-info p-4 text-right lh-lg"> 
                    <b class="text-danger h4">  تنبيه: </b> <br>
                     يمكنك مشاركة بطاقة أي فصيلة عن طريق الضغط على أيقونة الكيو آر كود QR-CODE يمين الجدول </p>
            </div>
        </div>
    </div> {% endcomment %}
{% endif %}
    {% endblock content %}
